.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  display: flex;
  height: 100vh;
  background-image: url('./images/cupid.jpg');
  background-size: cover;
  flex-direction: column;
  /* background: url('./cupid.jpg') center center cover no-repeat fixed; */

}

.img {
src: url('./images/girlIcon.png');
height: 150px;
width: 150px;

}

h1 {
  
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to right, hsl(240, 50%, 99%) 45%, #d4d1d1);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
    
  
}

.search-bar {
  display: block;
  margin-bottom: 5px;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 30px;
  max-width: 400px;
  max-height: 200px;
  text-align: left;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.profile-card h2 {
  margin-top: 0;
}

.profile-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.profile-details {
  text-align: left;
  margin-top: 20px;
}

.profile-details h2 {
  margin-top: 0;
}

.profile-details button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}